//Fontes
$fontPrincipal: Roboto, san-serif;

//Esquema de cores 
$corPrincipal: #f5f6fa;
$corSecundaria:  #182C61;
$CorTerciaria: #fff;
$corDosBtn: #44bd32;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;
